*{
    background-color: #121212;
    color: #f1f1f1;
    margin: 0px;
}
 
 /**navbar**/
.navbar{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/**logo**/
.ham{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height: 56px;
    width: 164px;
}
.logobg{
    height: 56px;
    width: 120px;
    display: flex;
    align-items: center;
}
.logo{
    background-image: url("logo.png");
    background-size: cover;
    height: 32px;
    width: 100%;
}
/**search**/
.search-bar{
    display: flex;
    align-items: center;
    height: 56px;
    width: 732px;
    flex-direction: row;
    justify-content: space-between;
    min-width: 0px;
}
.search{
    min-height: 40px;
    border: 1px solid #f1f1f1;
    border-radius: 40px 0px 0px 40px;
    width: 90%;   
    position: relative;
    font-size: large;
}

.search-icon{
    min-width: 40px;
    height: 40px;
    border: 1px solid #f1f1f1;
    border-radius: 0px 40px 40px 0px;
    min-width: 64px;
    background-color: #222222;   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-icon:hover{
    background-color: #5a5858;
    transition: 0.3s ease-in;
}
.audio{
    height: 40px;
    min-width:40px;
    border-radius: 50%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.audio:hover{
    background-color: #5a5858;
    transition: 0.3s ease-in;
}
.pfp{
    height: 40px;
    width: 156px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*Content bar*/
.content{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.list{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.box{
    font: Arial;
    font-size: .8rem;
    line-height: 2rem;
    height: 32px;
    border-radius: 8px;
    background-color: #222222;
    min-width: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-decoration: none;
}
.box:hover{
    background-color: #5a5858;
    transition: 0.3s ease-in;
}

.box:focus{
    background-color: #f1f1f1;
    color: #222222;
    transition: 0.1 ease-in-out;
}

/**thumnails**/
.thumbnails{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    width: 100%;
    min-height: 200px;
    min-width: 300px;
}

.tb{
    top: 112px;
    height: 250px;
    width: 300px;
}

.tb1{
    background-image: url("thumbnail1.png");
    background-size: cover;
    min-width: 280px;
    min-height: 140px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}
.tb2{
    background-image: url("thumbnail2.png");
    background-size: cover;
    min-width: 280px;
    min-height: 140px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}
.tb3{
    background-image: url("thumbnail3.png");
    background-size: cover;
    min-width: 280px;
    min-height: 140px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}
.tb4{
    background-image: url("thumbnail4.png");
    background-size: cover;
    min-width: 280px;
    min-height: 140px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}
.tb5{
    background-image: url("thumbnail5\ .png");
    background-size: cover;
    min-width: 280px;
    min-height: 140px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}
.tb6{
    background-image: url("thumbnail6\ .png");
    background-size: cover;
    min-width: 280px;
    min-height: 140px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}
.tb7{
    background-image: url("thumbnail7\ .png");
    background-size: cover;
    min-width: 280px;
    min-height: 140px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}
.tb8{
    background-image: url("thumbnail8.png");
    background-size: cover;
    min-width: 280px;
    min-height: 140px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}
.tb9{
    background-image: url("thumbnail9.png");
    background-size: cover;
    min-width: 280px;
    min-height: 140px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}
.tb10{
    background-image: url("thumbnail10.png");
    background-size: cover;
    min-width: 280px;
    min-height: 140px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}
@media(max-width: 400px){
    .tb{
        min-width: 360px;
        min-height: 280px;
    }
}